# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Archivos de compilación
*.class
*.jar
*.war
*.ear

# Archivos de log
*.log

# Configuración de IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*~

# Archivos del sistema
.DS_Store
Thumbs.db